# UTILITIES
/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules
/yarn-error.log

# TESTING
/coverage
.byebug_history

# SECRETS
/config/database.yml
/config/secrets.yml
.env

.DS_Store
cash_flow_pa_development*
*.swp
