= render 'shared/navbar'
.container-fluid
  .row
    .col-xs-9.col-md-9
      #results_map
        = map(center: { latlng: [39.9336927, -75.1603751], zoom: 7},
              geojsons: [ { geojson: @pa_state_geojson } ],
              )
    = render 'shared/sidebar'
