%footer
  %p
    Made by
    %a{:href => "http://phrig.org"}PhRIG
    = " | "
    %a{:href => "mailto:heyphrig@gmail.com"}
      %span.far.fa-envelope
      Email
    = " | "
    %a{:href => "https://twitter.com/heyphrig"}
      %span.fab.fa-twitter
      Twitter
    = " | "
    %a{:href => "https://github.com/phrig"}
      %span.fab.fa-github
      Github
    = " | "
    Data covers range between January and September 2017