.col-sm-3.col-md-3
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a{'data-parent' => '#accordion', 'data-toggle' => 'collapse', href: '#collapseOne'}
            %span.glyphicon.glyphicon-folder-close>
            Nearby Transactions
            ="(#{@markers.count} found)" if @markers
      #collapseOne.panel-collapse.collapse
        .panel-body
          %table.table
            -@markers&.each do |marker|
              %tr
                %td
                  %p= marker[:popup].html_safe
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a{'data-parent' => '#accordion', 'data-toggle' => 'collapse',  href: '#collapseTwo'}
            %span.glyphicon.glyphicon-th>
            Modules
      #collapseTwo.panel-collapse.collapse
        .panel-body
          %table.table
            %tr
              %td
                %a{ href: '#'} Orders
                %span.label.label-success $ 320
            %tr
              %td
                %a{ href: '#'} Invoices
            %tr
              %td
                %a{ href: '#'} Shipments
            %tr
              %td
                %a{ href: '#'} Tex
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a{'data-parent' => '#accordion', 'data-toggle' => 'collapse', href: '#collapseThree'}
            %span.glyphicon.glyphicon-user>
            Account
      #collapseThree.panel-collapse.collapse
        .panel-body
          %table.table
            %tr
              %td
                %a{ href: '#'} Change Password
            %tr
              %td
                %a{ href: '#'} Notifications
                %span.label.label-info 5
            %tr
              %td
                %a{ href: '#'} Import/Export
            %tr
              %td
                %span.glyphicon.glyphicon-trash.text-danger
                %a.text-danger{ href: '#'}
                  Delete Account
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a{'data-parent' => '#accordion', 'data-toggle' => 'collapse', href: '#collapseFour'}
            %span.glyphicon.glyphicon-file>
            Reports
      #collapseFour.panel-collapse.collapse
        .panel-body
          %table.table
            %tr
              %td
                %span.glyphicon.glyphicon-usd
                %a{ href: '#'} Sales
            %tr
              %td
                %span.glyphicon.glyphicon-user
                %a{ href: '#'} Customers
            %tr
              %td
                %span.glyphicon.glyphicon-tasks
                %a{ href: '#'} Products
            %tr
              %td
                %span.glyphicon.glyphicon-shopping-cart
                %a{ href: '#'} Shopping Cart
