development:
  encoding: unicode
  adapter: postgresql
  database: cheapest_seats_development

test:
  encoding: unicode
  adapter: postgresql
  database: cheapest_seats_test

production:
  encoding: unicode
  adapter: postgresql
  database: <%= ENV["CHEAPEST_SEATS_DB_NAME"] %>
  username: <%= ENV["CHEAPEST_SEATS_DB_USERNAME"] %>
  password: <%= ENV["CHEAPEST_SEATS_DB_PASSWORD"] %>
  pool: 5
  min_messages: WARNING
