development:
  encoding: unicode
  adapter: postgresql
  database: cash_flow_pa_development

test:
  encoding: unicode
  adapter: postgresql
  database: cash_flow_pa_test

production:
  encoding: unicode
  adapter: postgresql
  database: <%= ENV["CASH_FLOW_PA_DB_NAME"] %>
  username: <%= ENV["CASH_FLOW_PA_DB_USERNAME"] %>
  password: <%= ENV["CASH_FLOW_PA_DB_PASSWORD"] %>
  pool: 5
  min_messages: WARNING
