 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'base';
@import "home";
@import 'results';
@import 'leaflet';
@import 'nav';
@import "leaflet.awesome-markers";

nav {
  background-color: #002A86;
  margin-top: 1em;
}

h1, h2, h4 {
  font-family: 'Fjalla One', verdana, arial, helvetica, sans-serif;
  text-transform: uppercase;
}

h1 {
  color: #FFCE00; 
}

h4 {
  color: #82CCE2;
}

#logo {
  display:inline-block;
  vertical-align:middle;
  width: 100px;
}

#title {
  display:inline-block;
  vertical-align:bottom;
}

#search {
  float: right;
}

footer {
  color: #666;
  border-top: 1px solid;
  border-color: #82CCE2;
  margin-top: 1em;
  padding-top: 1em;
}
