#map {
  height: 450px;
  width: 100%;
}

.panel-map {
  padding: 0;
  margin:0;
}

#accordion {
  cursor: pointer;
}

#collapseOne, #collapseTwo {
  overflow: scroll;
  height: 50vh;
  td {
    border-radius: 5px;
    border: 0;
    border-left: 10px solid #fff;
    &:hover {
      border-left: 10px solid $middle-blue;
    }
  }
  .active {
    background-color: $tangerine-yellow;
  }
}

.pagination {
  margin: 0;
  padding: 0;
}


#map-reset {
  cursor: pointer;
  border: 0;
  border-top: 1px dotted $smalt-blue;
  border-bottom: 1px dotted $smalt-blue;
  &:hover {
    background-color: $tangerine-yellow;
  }
  
}
